body{
    background-color: aquamarine;
}
/**
#navigation ul{
list-style: none;
word-spacing: 10pt;
}
#navigation li{
    display: inline;
}
**/

a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    color: yellow;
    background-size: 100%;
    background-color: teal;
    padding: 1pt;
}
a:hover{
    color: aliceblue;
    background-color: brown

}
.container{
    display: flex;
}
.box-1 {
      flex: 1;
      order: 1;
      background-image: url(phh.JPG);
      height: 400pt;
      background-size: cover;
      text-align: right;
      background-repeat: no-repeat;
      width: auto;
      flex-basis: 30%;
      justify-content: space-between;
      padding: 2%;

  }
.box-2 {
    flex: 1;
    order: 2;
    align-self: flex-start;
    flex-basis: 70%;
    padding: 2%;
    height: 400pt;
  }

  .st0 {
    opacity: 0.49;
  }

  .st1 {
    fill: #80B574;
  }

  .st2 {
    fill: #E5CA2C;
  }

  .st3 {
    fill: #67E22D;
  }

  .st4 {
    fill: #2F76DD;
  }

  .st5 {
    fill: #2DE09F;
  }